body {
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
}
.topbar {
    height: 20px;
    background: yellow;
    color: black;
    padding: 7px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.slogan {
    display: inline-block;
    font-size: large;
    line-height: 0.5px;
    padding-left: 100%;
    animation: shi 10s linear infinite;
}

@keyframes shi {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.banner {
    background: #51ba84;
    height: 60px;
    padding: 10px;
    text-align: center;
    line-height: 5px;
    
}

.menu {
    display: flex;
    justify-content: left;
    background: #444;
    padding: 10px;
    margin-top: 2px;
}

.menu a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {background: #666;}

.gallery-button {
    min-width: 100px;
    color: white;
    background-color: #444;
    border: none;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px;
}

.gallery { 
    position: relative;
    display: inline-block;
}

.gallery-content {
    margin-left: 15px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.gallery-content a {
    color: black;
    padding: 10px 7px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.gallery-content a:hover {background-color: gray;}

.gallery:hover .gallery-content {display: block;}

.gallery:hover .gallery-button {background-color: #666;}

.page-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
}

.page-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: rgb(214, 202, 202);
    padding: 20px;
}
.page-left > div {background-color: #ccc;}

.page-right {
    display: flex;
    flex-direction: column;
    width: 65%;
    background: rgb(214, 202, 202);
    padding: 0 10px;
}

.about-me {
    text-align: center;
    padding: 20px;
}

.about-me img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.gallery1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.gallery1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-right > a {
    text-decoration: none;
    color: black;
    background-color: rgb(224, 214, 214);
    margin-bottom: 7px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 2%;
}
.page-right > a > img {
    width: 100%;
    height: fit-content;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 2px;
}
footer > p > a {
    text-decoration: none;
    color: white;
}

iframe {
    width: 100%;
    height: 600px;
}